{% extends 'base/base.html.twig' %}
{% block title %}Réclamation - {{claim.id}}{% endblock %}
{% block body %}
<div class="container-fluid mt-3">
    <div class="container">
        {% if app.user %}
            {% if app.user.profile == "ENSEIGNANT" %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none" class="text-decoration-none" href="{{ path('account') }}">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none" class="text-decoration-none" href="{{ path('teacher_ecue') }}">
                                ECUE
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none" class="text-decoration-none" href="{{ path('teachermatters_schools_tasks_index', {'id': claim.evaluation.matter.id}) }}">
                                {{claim.evaluation.matter.wording}}
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-decoration-none" href="{{ path('teachermatters_schools_tasks_semester', {'id': claim.evaluation.matter.id, 'semester_slug': claim.evaluation.semester.slug}) }}">
                                {{ claim.evaluation.semester.slug }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a class="text-decoration-none" class="text-decoration-none" href="{{ path('teachermatters_schools_tasks_claims', {'id': claim.evaluation.id}) }}">
                                {{ claim.evaluation.wording|capitalize }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Réclamation #{{claim.id}}
                        </li>
                    </ol>
                </nav>
                <div class="card mb-4">
                    <div class="card-header">
                        <br><span class="text-uppercase bg-success text-white font-weight-bold p-2">
                             {{ claim.evaluation.wording }} / {{ claim.evaluation.matter.wording }} / {{ claim.evaluation.semester }}
                        </span>
                        <br><br>{{ claim.evaluation.description }}
                        <br><br>
                        {% if claim.evaluation.semester.academicYear.archived == false or claim.evaluation.semester.academicYear.archived == null %}
                            {# Rentrée Non Archivée #}
                            <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                <i class="fas fa-folder-open"></i>&nbsp;Non Archivé
                            </span>
                        {% elseif claim.evaluation.semester.academicYear.archived == true %}
                            <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                <i class="fas fa-file-archive"></i>&nbsp;Rentrée Archivée
                            </span>
                        {% else %}
                            {% if claim.evaluation.semester.archived == false or claim.evaluation.semester.archived == null %}
                                {# Semestre Non Archivé #}
                                <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                    <i class="fas fa-folder-open"></i>&nbsp;Non Archivé
                                </span>
                            {% elseif claim.evaluation.semester.archived == true %}
                                <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                    <i class="fas fa-file-archive"></i>&nbsp;Sémestre Archivé
                                </span>
                            {% else %}
                                {% if claim.evaluation.archived == false or claim.evaluation.archived == null %}
                                    {# Evaluation Non Archivée #}
                                    <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                        <i class="fas fa-folder-open"></i>&nbsp;Non Archivé
                                    </span>
                                {% else %}
                                    <span class="badge badge-pill badge-purple font-weight-bold p-1">
                                        <i class="fas fa-file-archive"></i>&nbsp;Devoir Archivé
                                    </span>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                            Réclamation
                        </span>
                        <hr class="mt-2">
                        <h3 class="font-weight-bold mb-2"><strong>{{ claim.wording }}</strong></h3>
                        <p><i class="bi-person"></i>&nbsp;<a>{{claim.author.fullName|title}} ({{claim.author.email}})</a>, <i class="bi-clock"></i>&nbsp;{{ claim.createdAt|format_datetime('short', 'short', locale='fr') }}</p>
                        <div class="row">
                            <div class="col-xl-6 col-md-12">
                                <img class="img-fluid" src="{{claim.capturePath}}" alt="{{ claim.wording }}">
                            </div>
                            <div class="col-xl-6 col-md-12">
                                <p class="mt-2">{{ claim.content }}</p>
                            </div>
                        </div>
                        <hr class="my-2">
                        <br><span class="text-uppercase bg-purple text-white font-weight-bold p-1">
                            Votre reponse
                        </span>
                        <div class="row">
                            <div class="col m-3">
                                {{ form_start(form) }}
                                    {{ form_widget(form) }}
                                    <button type="submit" class="btn btn-success">
                                        Enregistrer&nbsp;<i class="fas fa-check-circle"></i>
                                    </button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
        <a href="{{ path('app_login') }}" class="btn btn-success">
            <i class="fas fa-hand-point-right"></i>&ensp;Se Connecter
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('assets/ui/js/app.js')}}"></script>
{% endblock %}
