{% extends 'admin/base.html.twig' %}
{% block title %}Rentrée Academiques{% endblock %}
{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <header class="page-header page-header-dark bg-header pb-10">
                <div class="container">
                    <div class="page-header-content pt-4">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-auto mt-4">
                                <nav aria-label="breadcrumb" class="bg-transparent text-white">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{{ path('admin') }}">
                                            <i class="fas fa-home" style="color:white;"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active text-white" aria-current="page">
                                            Rentrées Academiques
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container mt-n10">
                <div class="card mb-4">
                    <div class="card-header">
                        <ul class="nav">
                            <li class="nav-item m-2">
                                <span class="text-uppercase bg-success text-white font-weight-bold p-2">
                                    <i class="fas fa-calendar-alt"></i>&ensp;Liste des Rentrée Academiques
                                </span>
                            </li>
                            <li class="nav-item m-2 ml-auto">
                                <a class="nav-link btn btn-success" href="{{ path('academics_years_add') }}">
                                    <i class="fas fa-plus"></i>&ensp;AJOUTER
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="datatable">
                            <table data-order='[[ 0, "desc" ]]' class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                                <thead class="bg-secondary">
                                    <tr class="text-uppercase font-weight-bold text-center text-white">
                                        <th class="align-middle">#ID</th>
                                        <th class="align-middle">Code</th>
                                        <th class="align-middle">Libellé</th>
                                        <th class="align-middle">Date de début</th>
                                        <th class="align-middle">Date de fin</th>
                                        <th class="align-middle">Archivée</th>
                                        <th class="align-middle">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for academic_year in academics_years %}
                                    <tr>
                                        <td class="text-center align-middle">{{ academic_year.id }}</td>
                                        <td class="align-middle">{{ academic_year.coded }}</td>
                                        <td class="align-middle">{{ academic_year.wording }}</td>
                                        <td class="text-center align-middle">{{ academic_year.startDate|date('d/m/Y') }}</td>
                                        <td class="text-center align-middle">{{ academic_year.endDate|date('d/m/Y') }}</td>
                                        <td class="text-center align-middle">
                                            {% if academic_year.archived == false or academic_year.archived == null %}
                                                <i class="fas fa-toggle-off fa-2x"></i>
                                            {% else %}
                                                <i class="fas fa-toggle-on fa-2x text-success"></i>
                                            {% endif %}
                                        </td>
                                        <td class="text-center align-middle">
                                            <a href="{{ path('academic_year_edit', {'coded': academic_year.coded}) }}" class="btn btn-success btn-sm"><i class="fas fa-eye"></i></a>
                                            <a href="{{ path('delete_academic_year', {'id': academic_year.id}) }}" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer mt-auto footer-light">
            {% include "admin/footer.html.twig" %}
        </footer>
    </div>
{% endblock %}
